@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?xk8w7');
    src: url('../fonts/icomoon.eot?xk8w7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xk8w7') format('truetype'),
        url('../fonts/icomoon.woff?xk8w7') format('woff'),
        url('../fonts/icomoon.svg?xk8w7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    color: #4e0048;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope1:before {
    content: "\e900";
}

.icon-mail:before {
    content: "\e901";
}

.icon-email:before {
    content: "\e901";
}

.icon-letter:before {
    content: "\e901";
}

.icon-envelope:before {
    content: "\e901";
}

.icon-contact:before {
    content: "\e901";
}

.icon-phone:before {
    content: "\e942";
}

.icon-github:before {
    content: "\eab0";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-linkedin2:before {
    content: "\eaca";
}

html {
    scroll-behavior: smooth;
    font-size: 100%; 
}

body {
    font-family: 'Jost', sans-serif;   
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h3 {
    margin-bottom: 1rem;
    text-align: center;
    white-space: nowrap;
}

p {
    font-weight: 300;
    padding-left: 3rem;
    padding-right: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tighter {
    letter-spacing: -2px;
}

.container,
.grid {
    display: grid;
}

.border {
    border: 1px solid #4e0048;
}

.container {
    grid-template: 1fr 85% 1fr / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
   background: linear-gradient(45deg, #4e0048 60%, #6b0062, #9b1d91, #a73c9e);   
   color: white;
   font-size: 2rem;
   min-height: 71vh;
   position: relative;
   grid-area: header;
}

.header-content {
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    grid-template-areas:
        "nav"
        "h1";
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 2em;
    padding-top: 3rem;
}

header nav {
    grid-area: nav;
    font-size: 2.5rem;
}

header nav ul {
   display: flex;
   justify-content: space-evenly;
   list-style: none;
   padding-left: 0;   
}

nav li {
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:active,
nav a:focus {
    text-decoration: underline;
}

header h1 {
    font-size:6rem;
    grid-area: h1;
    letter-spacing: 6px;  
    line-height: .9;
    margin: 0;
    text-align: center;
  
}

header h1 span {
   display: block;
   letter-spacing: 1px;
}

main {
  grid-area: main;   
  display: grid;  
  row-gap: 5rem;
  grid-template: 1fr 50% 1fr / 1fr;
  grid-template-areas:
    "about"
    "projects"
    "aside";
}

section {
    font-size: 3rem;
}

section h2 {
    text-align: center;
}

#about {
   grid-area: about; 
   margin-bottom: 3rem;
}

.profile-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#about img {
    border: 2px solid black;
    border-radius: 100px;
    width: 40%;
}

#projects {
    grid-area: projects;
}

#projects h2,
#skills h2,
#contact h2 {
    margin-bottom: 3rem;
}

#projects .cards {
    grid-area: project;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    row-gap: 5rem;
}

#projects .cards .card {
    border: 1px solid #4e0048;
    padding: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    position: relative;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
}

.card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card-front,
.card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.card-front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
}

.card-back dl {
    margin-top: -10px;
}

.card-back dt {
    background-color: #9b1d91;
    color: white;
    padding: .5em 0;
    margin-bottom: 1em;
    text-align: center;
}

.card-back dd {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: .5em;
    padding-right: 1em;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template: .5fr .5fr / 1fr;
    grid-template-areas: "skills" "contact";
    /* row-gap: 5rem;; */
}

#skills {
    grid-area: skills;
    padding-left: 3rem;
    padding-right: 3rem;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
}

#skills img {
    height: 3rem;
    margin-right: 1rem;
}

#contact ul {
    grid-area: contact;
    display: grid;
    justify-content: center;
    row-gap: 1rem;
}

#contact a,
#contact a:link,
#contact a:visited {
    color: black;
    text-decoration: none;
}

#contact a:hover,
#contact a:focus {
    text-decoration: underline;
}

footer {
    background: linear-gradient(45deg, #4e0048 60%, #6b0062, #9b1d91, #a73c9e);
    color: white;
    position: relative;
    min-height: 20vh;     
    grid-area: footer;   
}

.footer-content {
    position: absolute;  
    bottom: 3rem;
    left: 20%;   
    font-size: 3rem;      
}

footer p {    
    
}

.custom-shape-divider-bottom-1682025258 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682025258 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1682025258 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1682025338 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1682025338 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 130px;
}

.custom-shape-divider-top-1682025338 .shape-fill {
    fill: #FFFFFF;
}

@media (min-width: 768px) {
    header {
        min-height: 40vh;
    }
    .custom-shape-divider-bottom-1682025258 svg,
    .custom-shape-divider-top-1682025338 svg {
        height: 130px;
    }
    footer {
        min-height: 20vh;
    }    
}

/* Media Queries */

@media (min-width: 768px) {
    .header-content {
        padding-top: 2rem;
    }
    header h1 {
        font-size: 5rem;
        letter-spacing: 5px;
    }
    header h1 span {
        letter-spacing: -.8px;
    }
    main {
        grid-template: 1fr 53% 1fr / 1fr;
        grid-template-areas: 
            "about"
            "projects"
            "aside";
    }
    aside {
        row-gap: 5rem;
    }
}

@media (min-width: 820px) {
    header {
        min-height: 35vh;
    }    
}

@media (min-width: 1024px) {
    .container {
        grid-template: 1fr 85% 1fr / 1fr;
        grid-template-areas: "header" "main" "footer";
    }
    header {
        min-height: 60vh;
        font-size: 1.5rem;
    }    
    .custom-shape-divider-bottom-1682025258 svg,
    .custom-shape-divider-top-1682025338 svg {
        height: 180px;
    }
    .header-content {
        row-gap: 2em;
        padding-top: 2rem;
    }
    header nav {
        font-size: 2rem;
    }
    header h1 {
        font-size: 4rem;
    }
    main {
        grid-template: .5fr 40% 1fr / 1fr;
        grid-template-areas:
            "about"
            "projects"
            "aside";
        margin-bottom: -15rem;
        row-gap: 3rem;
    }
    .profile-wrapper {
        flex-direction: row;
    }

    .profile-wrapper img {
        margin-left: 2rem;
    }
    footer {
        min-height: 50vh;
    }
    section {
        font-size: 2rem;
    }
    aside {
        row-gap: 0;
        grid-template: repeat(2, .4fr) / 1fr;
        grid-template-areas: "skills" "contact";
    }
    #projects h2,
    #skills h2 {
        margin-bottom: 3rem;
    }
    #projects .cards {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 3rem;
        justify-content: center;
    }
    #projects .cards .card {
        width: 40%;
    }
    .card-back dd {
        font-size: 1.5rem;
    }
    #skills {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    #skills img {
        height: 2rem;
    }
    
    .footer-content {
        font-size: 2rem;
        left: 32%;
    }
}

@media (min-width: 1200px) {
    header {
        min-height: 50vh;
    }    
    .custom-shape-divider-bottom-1682025258 svg,
    .custom-shape-divider-top-1682025338 svg {
        height: 250px;
    }
    footer {
        min-height: 12vh;
    }
    .header-content {
        row-gap: 0;
        padding-top: 0;
    }
    header h1 {
       font-size: 6rem;
       letter-spacing: 7px; 
    }
    header h1 span {
        letter-spacing: 0;
    }
    .container {
        grid-template: 1fr 65% 1fr / repeat(6, 1fr);
        grid-template-areas:
            "header header header header header header"
            "   .   main   main   main   main     ."
            "footer footer footer footer footer footer";
    }
    .header-content {
        grid-template: repeat(2, 1fr) / repeat(6, 1fr);
        grid-template-areas:
            ".  .  nav nav  . ."
            ".  .  h1  h1   .  .";
    } 
    main {
        grid-template: 25% 75% / repeat(4, 1fr);
        grid-template-areas: 
            "about    about    about  about"
            "projects projects projects aside";
        column-gap: 2rem;
    }   
    
    #about p {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    #about img {
        margin-left: 7rem;
        width: 45%
    }
    .copy-wrapper {
        align-self: flex-start;
    }
    .card-back dd {
        font-size: 1.75rem;
    }
    aside {
        grid-template: 50% 1fr / 1fr;
        grid-template-areas: "skills" "contact";
    }
    #skills {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    #skills ul {
        justify-content: flex-start;
    }
    .footer-content {
        left: 42%;
    }
}


