@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 16px; 
}

body {
    font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: 200;
}

p {
    font-weight: 300;
}

header {
   background: linear-gradient(45deg, #4e0048 60%, #6b0062, #9b1d91, #a73c9e);
   color: white;
   display: grid;
   font-size: 2rem;
   min-height: 100vh;
   position: relative;
}

header nav ul {
   list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

header h1 {
  letter-spacing: 6px;  
  line-height: .9;
}

header h1 span {
   font-size: 1em;
   letter-spacing: 1px;
}

section {
    font-size: 2rem;
}

#projects {
    
}

#skills {

}

footer {
    background: linear-gradient(45deg, #4e0048 60%, #6b0062, #9b1d91, #a73c9e);
    color: white;
    position: relative;
    min-height: 100vh;        
}

.custom-shape-divider-bottom-1682025258 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682025258 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 249px;
}

.custom-shape-divider-bottom-1682025258 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1682025338 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1682025338 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 249px;
}

.custom-shape-divider-top-1682025338 .shape-fill {
    fill: #FFFFFF;
}
